/session.*

# Auto saves (#[FILE]#)
/auto-saves

# backup ([FILE]~)
/backups

# auto-save-list is for interrupted sessions
/auto-save-list

# savehist
/history

# recentf
/recentf

/tramp

# packages
/elpa

# Customize added by emacs
/custom.el

# elpy
/elpy